<!-- {% load static from staticfiles %} -->

<header class="sv-header">
    <div class="row align-middle">

        <!-- Logo -->
        <div class="column small-2">
            <div class="sv-logo">
              <a href="{% url 'posts:list' %}">
                <img src="{% static 'img/sunnyville.png' %}" alt="">
              </a>
            </div>
        </div>

        <!-- Menu -->
        <div class="column small-8">
            <nav class="sv-menu sv-right-padded">
                {% for topic in topics %}
                    <a href="{% url 'posts:topic-post-list' slug=topic.slug %}">{{ topic.title|upper }}</a>
                {% endfor %}
            </nav>
        </div>
        <!-- Search Form -->
        <div class="column small-2">
            <form class="sv-search-form" role="search" autocomplete="off" action="{% url "haystack_search" %}" method="GET">
                <input class="sv-search-input" type="search" name="q">
                <button class="sv-search-button" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </div>
    </div>
</header>
