/**
 * Colors
 */
$default_bg: #fff;
$border_light: #efefef;
$border_dark: #ddd;

$alternative_bg: #eee;
$dark_bg: #222534;

$heading: #3f3f3f;
$body: #4f4f4f;
$sub_body: #888;

$heading_light: #f1f1f1;
$body_light: #efefef;
$sub_body_light: #dfdfdf;

$selection: #eee;
$accent: #fff132;

/**
 * Fonts
 */
$heading_font: "Basic", Arial, sans-serif;
$body_font: "Source Sans Pro", Arial, serif;




/**
 * -------------------------------------------------------------------------------------
 * Base
 * -------------------------------------------------------------------------------------
 */

body {
	background-color: $default_bg;
	font-family: $body_font;
	font-size: 18px;
	line-height: 1.65;
	letter-spacing: 0.006em;
	color: $body;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $heading_font;
	font-weight: bold;
	// letter-spacing: 1px;
	color: $heading;

	small {
		color: $sub_body;
	}
}

h1 {
	margin-top: 40px;
}
h2 {
	margin-top: 34px;
}
h3 {
	margin-top: 28px;
}
h4 {
	margin-top: 24px;
}
h5 {
	margin-top: 24px;
}
h6 {
	margin-top: 20px;
}

p {
	line-height: 1.65;
}

a {
	font-weight: bold;
	border-bottom: 0.08em solid transparent;
	text-decoration: none;
	outline: none;
	max-width: 100%;
	color: $heading;
	font-family: $heading_font;
	transition: all 0.1s;

	&:hover,
	&:focus {
		color: $heading;
		border-bottom-color: $accent;
		text-decoration: none;
		outline: none;
		transition: all 0.3s;
	}
}

img {
	max-width: 100%;
	height: auto;
}

p,
ul {
	margin-bottom: 0.8rem;
}

::selection {
	background-color: $selection;
}

pre {
	margin: 5px 0;
	font-size: 14px;
	line-height: 1.4;
}

blockquote {
	border-left: 4px solid $accent;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

q:before{
  width: 10px;
  margin-right: 3px;
  font-size: 160%;
}

q:after{
  margin-left: 5px;
  font-size: 160%;
}

cite{
	font-weight: bold;
}

hr{
	border-color: $border_dark;
}
code {
	font-family: $body_font;
    padding: 0.125rem 0.3125rem 0.0625rem;
    border: 0;
    background-color: #e6e6e6;
    font-weight: normal;
    font-size: 1rem;
    color: $heading;
}

table {
	font-size: 0.9rem;
	margin: 1rem 0px;
}

/**
 * Helpers
 */
.sv-page-header {
	background-color: $alternative_bg;
	padding: 100px 0;

	h1 {
		margin-bottom: 0;
		margin-top: 0;
	}
}

.sv-right-padded {
	padding-right: 30px !important;
}

.highlight {
	margin: -0.4rem 0 1.4rem 0;
	padding: 0;

	pre {
		max-height: 600px;
	  	padding: 20px;
	  	margin: 0;
	}
}
.highlight {

	span::selection,
	pre::selection {
		background-color: #aaa;
	}
}

/**
 * -------------------------------------------------------------------------------------
 * Header
 * -------------------------------------------------------------------------------------
 */

.sv-header {
	background-color: $dark_bg;
	width: 100%;
	padding: 40px 0;

	a::selection {
		background-color: $accent;
		color: $dark_bg;
	}
}

/**
 * Logo
 */
.sv-logo {
	width: 130px;

	a {
		border: 0;
	}
}

/**
 * Navigation Menu
 */
.sv-menu {
	display: flex;
	margin: 0;
	padding: 0;

	&> a {
		display: flex;
		border: 0;
		padding: 0 1em;
		font-size: 15px;
		color: $accent;

		&:first-of-type {
			padding-left: 0;
		}
		&:last-of-type {
			padding-right: 0;
		}

		&:hover {
			color: lighten($accent, 20%);
		}
	}
}

/**
 * Search
 */
.sv-search-form {
	display: flex;
}
.sv-search-input {
	height: auto;
	padding: 5px 0;
	margin: 0;
	border-radius: 0;
	outline: none;
	box-shadow: none;
	border: 0;
	border-bottom: 2px solid darken($body_light, 20%);
	color: darken($body_light, 15%);
	background-color: transparent;
	transition: all 0.1s;

	&:focus {
		box-shadow: none;
		border: 0;
		border-bottom: 2px solid $border_light;
		color: $body_light;
		background-color: transparent;
		transition: all 0.1s;
	}
}
.sv-search-button {
	color: darken($body_light, 15%);
	cursor: pointer;
	padding: 0 10px;
	transition: all 0.1s;
	outline: none;

	&:hover,
	&:focus {
		color: $body_light;
		transition: all 0.3s;
	}

	i {
		display: block;
		transform: scale(-1, 1);
	}
}

.sv-search-form-results {
	font-size: 2.4rem;
	font-weight: bold;
	color: $sub_body;
}
.sv-search-input-lg {
	height: auto;
	padding: 7px 0;
	margin: 0;
	border-radius: 0;
	outline: none;
	box-shadow: none;
	border: 0;
	border-bottom: 4px solid $body;
	color: $heading;
	background-color: transparent;
	font-weight: bold;
	font-size: 3rem;
	transition: all 0.1s;

	&:focus {
		box-shadow: none;
		border: 0;
		color: $heading;
		border-bottom: 4px solid $heading;;
		background-color: transparent;
		transition: all 0.1s;
	}
}
.sv-search-button-lg {
	color: $body;
	cursor: pointer;
	padding: 0 10px;
	transition: all 0.1s;
	outline: none;
	font-size: 3rem;


	&:hover,
	&:focus {
		color: $heading;
		transition: all 0.3s;
	}

	i {
		display: block;
		transform: scale(-1, 1);
	}
}



/**
 * -------------------------------------------------------------------------------------
 * Main
 * -------------------------------------------------------------------------------------
 */

.sv-main {
	margin-top: 80px;
}

/**
 * -------------------------------------------------------------------------------------
 * Sidebar
 * -------------------------------------------------------------------------------------
 */

.sv-sidebar {
	background-color: $alternative_bg;
	height: 1000px;
	padding: 30px;
}


/**
 * -------------------------------------------------------------------------------------
 * Footer
 * -------------------------------------------------------------------------------------
 */

.sv-footer {
	background-color: $alternative_bg;
	padding: 80px 0 60px 0;
	text-align: center;
	margin-top: 40px;

	.sv-twitter-follow {
		color: #00aced;
		border: 0;
		line-height: 1;
		transition: all 0s;

		i {
			font-size: 120px;
		}
	}
}


/**
 * -------------------------------------------------------------------------------------
 * Archives
 * -------------------------------------------------------------------------------------
 */

.sv-archive-single {
	padding-bottom: 60px;
	margin-bottom: 53px;
	border-bottom: 2px solid $border_dark;

	&:last-of-type {
		border-bottom: none;
		margin-bottom: 0;
	}
	.sv-article-image {
		margin-bottom: 20px;
	}
	.sv-article-header {
		margin-bottom: 12px;
	}
	.sv-article-heading {
		font-weight: bold;
		line-height: 1.3;
		letter-spacing: -0.2px;
		margin-bottom: 0.4rem;
		margin-top: 0;
	}
	.sv-article-meta {
		font-size: 15px;
		letter-spacing: 0.02em;
	}
	.sv-article-sep {
		font-weight: bold;
		margin: 0 2px;
	}
	.sv-article-date {
		font-weight: bold;
		font-style: italic;
		color: $sub_body;
	}
	.sv-article-extract {

		p {
			margin-bottom: 0;
		}
	}
	.sv-readmore {
		font-size: 1rem;
	}
}

/**
 * Pagination
 */
.sv-pagination {
	margin: 60px 0;
	display: flex;
	align-items: center;
	justify-content: center;

	a {
		border: 0;
		padding: 5px 12px;

		&:hover {
			span {
				border-bottom-color: $accent;
				transition: all 0.3s;
			}
		}
		&:first-child {
			padding-left: 0;
		}
	}
	span {
		color: $heading;
		padding: 0 2px;
		border-bottom: 0.11em solid transparent;
		transition: all 0.1s;
	}
	&> span {
		font-weight: bold;
		padding: 5px 12px;

		&:first-child {
			padding-left: 0;
		}
	}
	.sv-current-page span {
		border-bottom-color: $heading;
	}
	.sv-pagination-dots {
		cursor: default;
	}
	.pagination-next,
	.pagination-previous {
		font-size: 0.9rem;
		margin-top: 3px;

		&:hover {
			color: $accent;
		}
	}
}


/**
 * -------------------------------------------------------------------------------------
 * Single Post
 * -------------------------------------------------------------------------------------
 */

.sv-single {
	padding-bottom: 30px;

	.sv-article-image {
		max-width: 61.8%;
		margin-bottom: 20px;
	}

	.sv-single-header {
		margin-bottom: 20px;
	}

	.sv-article-heading {
		font-weight: bold;
		line-height: 1.2;
		letter-spacing: -0.2px;
		margin-bottom: 0.1rem;
		margin-top: 0;
	}
	.sv-article-meta {
		font-size: 12px;
		letter-spacing: 0.02em;
	}
	.sv-article-sep {
		font-weight: bold;
		margin: 0 2px;
	}
	.sv-article-date {
		font-weight: bold;
		font-style: italic;
		color: $sub_body;
	}

	.sv-single-content {

		a {
			font-size: 1rem;
		    text-shadow: 0 1px 1px $accent;
		}

		p:last-child {
			margin-bottom: 0;
		}

		img {
			margin-bottom: 12px;
		}

		ul li {
			margin-bottom: 0.6rem;
		}
	}
}


/**
 * Social Share
 */
.sv-single-share {
	display: flex;
	justify-content: center;
	margin: 70px 0 20px 0;

	&> a {
	    width: 36px;
	    height: 36px;
	    line-height: 36px;
	    font-size: 14px;
	    text-align: center;
	    border-radius: 50%;
	    color: #fff;
		margin: 0 6px;
		border: 0;
	}

	.sv-share-twitter {
		background-color: #55acee;

		&:hover {
			background-color: #2795e9;
		}
	}
	.sv-share-facebook {
		background-color: #3b5998;

		&:hover {
			background-color: #2d4373;
		}
	}
	.sv-share-reddit {
		background-color: #cee3f8;
		// color: $body;

		&:hover {
			background-color: darken(#cee3f8, 4%);
		}
	}
}

/**
 * Comments
 */
.sv-single-comments {
	height: 500px;
	background-color: $alternative_bg;
}


/**
 * -------------------------------------------------------------------------------------
 * Search
 * -------------------------------------------------------------------------------------
 */

.sv-header-search-title {

	small {
		font-size: 2.4rem;
	}
}

.sv-page-header-search {
	margin-top: 10px;

	.sv-search-input {
		height: auto;
		padding: 15px 0;
		margin-right: 15px;
		font-size: 3rem;
		font-weight: bold;
		font-family: $heading_font;
		border-bottom: 3px solid $body;
		color: $body;

		&:focus {
			border-bottom-color: $heading;
			color: $heading;
		}
	}
	.sv-search-button {
		color: $body;
		padding: 0 20px;
		font-size: 60px;

		&:hover,
		&:focus {
			color: $heading;
		}
	}
}


/**
 * -------------------------------------------------------------------------------------
 * Responsiveness
 * -------------------------------------------------------------------------------------
 */

@media print, screen and (min-width: 40em) {

	h1 {
		font-size: 2.25rem; }
	h2 {
		font-size: 1.875rem; }
	h3 {
		font-size: 1.525rem; }
	h4 {
		font-size: 1.2rem; }
	h5 {
		font-size: 1rem; }
	h6 {
		font-size: 0.9rem; }


	.sv-article-heading {
		font-size: 1.95rem;
	}

	.sv-single {
		padding-bottom: 60px;

		.sv-article-heading {
			font-size: 38px;
			margin-bottom: 0.4rem;
		}

		.sv-article-meta {
			font-size: 15px;
		}
	}

	.sv-page-header {

		h1 {
			font-size: 3rem;
		}
	}
}
